#!/usr/bin/make -f

%:
	dh $@

override_dh_fixperms:
	dh_fixperms
	chmod 2711 debian/libutempter0/usr/lib/utempter/utempter
	chown root:utmp debian/libutempter0/usr/lib/utempter/utempter

.PHONY: override_dh_auto_test
